{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Cosmis</title>
        <meta name="description" content="">
        <link href="{% static 'css/css.css' %}" rel="stylesheet">
        <meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}"/>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/jquery.dataTables.css' %}"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="section">
                <div class="top_navbar">
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="{% url 'index' %} " class="nav-link"><i class="fa fa-home"></i></a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link1">School Year: {{ current_year }}</a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link2">Academic Term: {{ current_term }}</a>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="{% url 'logout' %}" class="nav-link3">
                            <span class="icon"><i class="fa-sharp fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                            <span class="item">Log out</span>
                        </a>
                      </li>
                    </li>
                </div> 
            </div> 
            <div class="sidebar">
                <div class="profile">
                    <img src={% static "\images\cosmis.png" %} alt="profile_picture">
                    <h3>Cosmis School Manager</h3>   
                </div>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">
                            <span class="icon"><i class="fa-sharp fa-solid fa-school"></i></span>
                            <span class="item">HOME</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'studenttables' %}">
                            <span class="icon"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                            <span class="item">STUDENTS</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'teacherstable' %}">
                            <span class="icon"><i class="fa-sharp fa-solid fa-user-tie"></i></span>
                            <span class="item">TEACHERS</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'current-year' %}">
                            <span class="icon"><i class="fa-sharp fa-solid fa-coins"></i></span>
                            <span class="item">FINANCE</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-check-to-slot"></i></span>
                            <span class="item">Results</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class ="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src = "{% static 'js/jquery.dataTables.js' %}"></script>
        <script type = "text/javascript">
            $(document).ready(function(){
                $('#table').DataTable();
            });
        </script>
    </body>
</html>